.overview {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 3rem;
  color: #fff;
  width: 100%;
}
.overview h5 {
  display: flex;
  margin: 0;
  padding-top: 1rem;
  align-items: center;
}
.overview span {
  color: #49a54f;
  background-color: #203438;
  border-radius: 5px;
  margin-left: 5px;
  padding: 2px 5px;
}
